/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.navbar-default .navbar-nav .open .dropdown-menu,
	.gridblock li:before {
		background: $palette-primary_1;
	}
	.navbar-default .navbar-toggle {
		border-color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $palette-primary_1;
	}
	.background-alpha {
		background: $palette-primary_1;
		/* Box Shadow */
		-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.leaderbox-text ul li i.fa,
	.mod-alpha i.fa,
	.mod-beta i,
	a,
	.current_page_item a,
	&.disabled-footer .site-footer a,
	.icon-circle i.fa {
		color: $palette-primary_1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.open > .dropdown-toggle.btn-primary,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background: $palette-primary_2;
	}
	.button-primary,
	.dropdown-menu > li > a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-toggle,
	.site-header,
	.nav > li > a:focus,
	.nav > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.mark,
	mark {
		background:  $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.site-title a,
	.site-description,
	.secondary-menu li a,
	.tertiary-menu li a {
		color: $text-contrast-palette-primary_1;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $palette-primary_1;
	}
	.navbar-default .navbar-nav > .current-menu-parent > a {
		background: none;
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-secondary,
	.widget .table-striped > tbody > tr:nth-child(2n+1) > td,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav > li > a {
		background:  $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.navbar-nav,
	.icon-circle,
	#secondary-menu {
		background: $palette-primary_2;
	}
	.mod-alpha h2,
	.mod-alpha p,
	.link-secondary,
	.section-title,
	.details h3 i,
	.agent-profile h2,
	.button-primary i.fa,
	.widget-title,
	.entry-title,
	#reply-title,
	.tertiary-menu .current_page_item a {
		color: $palette-primary_2;
	}
	.secondary-menu,
	.footer-center-menu {
		.current_page_item a {
			color: $palette-primary_1;
		}
	}

	.mod-blockquote {
		border-left: 7px solid $palette-primary_2;
	}
	.mod-divider a {
		background: $text-contrast-palette-primary_2;
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.site-footer,
	.site-footer p,
	.button-primary:hover,
	.button-primary:focus,
	.button-secondary:hover,
	.button-secondary:focus,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.mod-divider a,
	&.single .entry-title,
	.entry-title a,
	.comment-text {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.footer-center-menu li a {
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.background-primary,
	.entry-footer,
	&.error404 .site-content,
	&.page-template-default .site-content,
	&.search .site-content,
	&.single .site-content,
	&.archive .site-content,
	&.blog .site-content,
	&.mce-content-body {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	&.disabled-footer .site-footer,
	#boldgrid-sticky-filler,
	#boldgrid-sticky-push {
		background: $palette-primary-neutral-color;
	}
	.mod-blockquote p,
	.mod-gamma-1 h2,
	.mod-gamma-1 h3,
	.comment-content p,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.entry-title:before,
	.mod-divider:before {
		border-top: 1px solid $text-contrast-palette-primary-neutral-color;
	}
	hr {
		background: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	# Et Cetera
	-----------------------------------------------*/
	.mod-beta h3 {
		color: #333;
	}
	.call-to-action {
		background: rgba(15, 19, 28, .75);
	}
	.call-to-action h2 {
		border-bottom: 1px #e1e1e1 solid;
		color: #e1e1e1;
	}
	.call-to-action p,
	.menu-social li a {
		color: #fff;
	}
	.ratings i {
		color: #f39c12;
	}
	.background-alpha:before,
	.background-alpha:after {
		/* Box Shadow */
		-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	}

	/* ## Social Menus */
	.menu-social li.youtube a {
		background: #bb0000;
	}
	.menu-social li.facebook a {
		background: #3b5998;
	}
	.menu-social li.google-plus a {
		background: #dd4b39;
	}
	.menu-social li.twitter a {
		background: #00aced;
	}
	.menu-social li.linkedin a {
		background: #0976b4;
	}
	.menu-social li.bitbucket a {
		background: #205081;
	}
	.menu-social li.codepen a {
		background: #000;
	}
	.menu-social li.dribbble a {
		background: #444444;
	}
	.menu-social li.dropbox a {
		background: #007ee5;
	}
	.menu-social li.flickr a {
		background: #ff0084;
	}
	.menu-social li.foursquare a {
		background: #0072b1;
	}
	.menu-social li.github a {
		background: #333;
	}
	.menu-social li.gratipay a {
		background: #663300;
	}
	.menu-social li.instagram a {
		background: #3f729b;
	}
	.menu-social li.jsfiddle a {
		background: #4679BD;
	}
	.menu-social li.xing a {
		background: #026466;
	}
	.menu-social li.wpcom a {
		background: #21759b;
	}
	.menu-social li.weibo a {
		background: #E71D34;
	}
	.menu-social li.tumblr a {
		background: #35465c;
	}
	.menu-social li.trello a {
		background: #256a92;
	}
	.menu-social li.snapchat a {
		background: #FFFC00;
	}
	.menu-social li.reddit a {
		background: #ff4500;
	}
	.menu-social li.renren a {
		background: #005EAC;
	}
	.menu-social li.pinterest a {
		background: #cc2127;
	}
	.menu-social li.envelope a {
		background: #777;
	}
	.menu-social li.yelp a {
		background: #af0606;
	}
	.menu-social li.slideshare a {
		background: #e98325;
	}
	.menu-social li.stack-overflow a {
		background: #fe7a15;
	}
	.menu-social li.stack-exchange a {
		background: #000;
	}
	.menu-social li.soundcloud a {
		background: #f80;
	}
	.menu-social li.steam a {
		background: #0B0B0B;
	}
	.menu-social li.vimeo a {
		background: #1ab7ea;
	}
	.menu-social li.vine a {
		background: #00b488;
	}
	.menu-social li.vk a {
		background: #45668e;
	}
	
	/* Social Media Color Overlay */
	.menu-social li a {
		position: relative;
		width:100%;
		height:100%;
	}
	.menu-social li a:hover:after {
		content:"\A";
		width:100%;
		height:100%;
		background:rgba(0, 0, 0, 0.1);
		position:absolute;
		top:0;
		left:0;
	}
	.tertiary-menu li.menu-social a:hover{
		color: $palette-primary_2;
	}
	.secondary-menu li.menu-social a:hover,
	.footer-center-menu li.menu-social a:hover {
		color: $palette-primary_1; 
	}
	.menu-social li.menu-item-object-page a,
	.menu-social li.menu-item-object-post a {
		background: rgba(15, 19, 28, 0.75);
	}
}
